body {
	margin:0;
	padding:0;
	overflow: hidden;
}

.main-box {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

#markerMap {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 75vw;
	height:100vh;
}

#dashboard {
	float: right;
	margin-right: 2vw;
	padding: 0;
  width: 22.5vw;
  height: 100vh;
}


@media (max-width: 1200px) {

  #dashboard {
    float: none;
    width: 95vw;
    height: 27.5vh;
  }

	#markerMap {
		height: 72.5vh;
		width: 100vw;
	}

}

@media (max-width: 768px) {

  #markerMap {
		width: 100vw;
		height: 100vh;
	}

	#dashboard {
		display: none;
	}

}

@media (max-height: 800px) {

	body {
		overflow-y: scroll;
	}

}
