#map {
	max-width: 1000px;
	height: 500px;
	margin-left: auto;
	margin-right:auto;
	padding: 0;
}

#dashboard {
  width: 500px;
  height: 100vh;
  position: relative;
	float: right;
	padding-top: 30px;
}

/*.main-box {
	display: inline-block;
	float: right;
}*/
