body {
	margin:0;
	padding:0;
	overflow: hidden;
}
#markerMap {
	width: 80%;
	height:100vh;
}

#sidebar {
	display: inline-block;
    position: absolute;
    margin-left: 20px;
    margin-top:20px;
}

#dashboard {
	width: 500px;
	height: 100vh;
	position: relative;
	float: right;
	padding-top: 30px;
}

/*.main-box {
	display: inline-block;
	float: right;
}*/
