.x-axis, .y-axis{
  font-size: 1em;
}

.chart-box {
  float: right;
  margin: auto;
  margin-top: 3vh;
  margin-right: 0.5vw;
  padding: 0;
  width: inherit;
}

.chart {
  float: right;
  margin: auto;
  width: inherit;
  max-width: 325px;
  max-height: 225px;
}

.title, .x-axis-title, .y-axis-title  {
  font-size: 1.25em;
  font-family: monospace;
}

@media (max-width: 1200px) {

  .chart-box {
    align-content: center;
    display: inline-block;
    width: 30vw;
  }

  .chart {
    float: right;
    width: inherit;
    min-width: 240px;
    max-width: 280px;
  }

}

@media (max-width: 768px) {
  .chart, .chart-box {
    visibility: hidden;
  }

}
