.x-axis, .y-axis {
  font-size: 1em;
}

.chart-box {
  width: inherit;
  min-width: inherit;
  padding-top: 2vh;
  max-width: 400px;
  max-height: 250px;
}

.title {
  font-size: 1.25em;
  font-family: monospace;
}

@media (max-width: 1200px) {
  #dashboard {
    float: none;
    padding-left: 1.5%;
    padding-right: 1.5%;
    width: 95vw;
    height: 30vh;
  }

  .chart-box {
    width: 30vw;
    min-width: 240px;
    max-width: 300px;
    display: inline-block;
  }

  .option-box {
    visibility: hidden;
  }

}

@media (max-width: 768px) {
  .chart {
    visibility: hidden;
  }

  .option-box {
    visibility: hidden;
  }
}
